 
.nav{
    background-color: rgba(233, 164, 176, 0.788) !important;
}

.search{
    width: 300px;
    background-color: rgba(233, 164, 176, 0.788) !important;
}
.am-search{
    background-color:  rgba(233, 164, 176, 0.788) !important
}
html,body,#root{
    height: 100%;
    margin: 0;
    
}